body {
  font-family: arial, sans-serif;


}

.navbar {
    border: 1px solid #ccc;
    height: 100px;
    width: 100%

}

.logo-container {
  width: 100%;
}

.logo-container .logo {
  width: 300px;
  display: block;
  margin: 0 auto;

}

.search {
  margin: 32px auto;
}

.search .main-search { 
  display: block;
  margin:0 auto;
  width: 655px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 0 10px 0 10px;

}

div form input {
  background: url("assets/images/mic.png") no-repeat right center;
}

.default-hover:hover {
   border: 1px solid #a0a0a0;
   color: #011;
 }


/*
====================================
Buttons
====================================
*/

.btn {
  text-align: center;
  height: 35px;
  color:#444;
  background-color: #F5F5F5;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.search-button {
  width: 142px;
  margin-right: 5px;
  
}

.button-container {
  width: 285px;
  margin: 0 auto;
}

.btn-lucky {
  padding: 0 10px 0 10px;
  
}

