body {
  font-family: arial, sans-serif;


}

.navbar {
    border: 1px solid #ccc;
    height: 50px;
    width: 100%

}

.nav-element {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;

}



#menulink {
  width:20px;
}

.links-container {
  min-width: 220px;
  float: right;
}

.links-container div {
  display: inline-block;
  margin-top: 10px;
}

.logo-container {
  width: 100%;
}

.logo-container .logo {
  width: 300px;
  display: block;
  margin: 0 auto;

}

.search {
  margin: 32px auto;
}

.search .main-search { 
  display: block;
  margin:0 auto;
  width: 655px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 0 10px 0 10px;

}

/*
====================================
Buttons
====================================
*/

.btn {
  text-align: center;
  height: 35px;
  color:#B9B9B9;
  background-color: #F5F5F5;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.search-button {
  width: 142px;
  margin-right: 5px;
  
}

.button-container {
  width: 285px;
  margin: 0 auto;
}

.btn-lucky {
  padding: 0 10px 0 10px;
  
}

.btn:hover {
   border: 1px solid #a0a0a0;
   color: #222222;
 }
