body {
  font-family: arial, sans-serif;


}

.navbar {
    border: 1px solid #ccc;
    height: 50px;
    width: 100%

}

div {
  border: 1px solid #ccc;
}



#menulink {
  width:20px;
}

.links-container {
  float: right;
  margin-top: 13px;
  margin-right: 12px;
  width: 250px;
}

.links-container div {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  margin-right:10px;
}



#menulink {
  vertical-align: middle;
}

.logo-container {
  width: 100%;
  margin-top: 70px;
}

.logo-container .logo {
  width: 300px;
  display: block;
  margin: 0 auto;

}

.search {
  margin: 32px auto;
}

.search .main-search { 
  display: block;
  margin:0 auto;
  width: 655px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 0 10px 0 10px;

}

.footer {
  background-color: #F2F2F2;
  height: 40px;
  width: 100%;
}

/*
====================================
Buttons
====================================
*/

.btn {
  text-align: center;
  height: 35px;
  color:#B9B9B9;
  background-color: #F5F5F5;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.search-button {
  width: 142px;
  margin-right: 5px;
  
}

.button-container {
  width: 285px;
  margin: 0 auto;
}

.btn-lucky {
  padding: 0 10px 0 10px;
  
}

.btn:hover {
   border: 1px solid #a0a0a0;
   color: #222222;
 }

 #sign-in {
  background-color: #4386F8;
  text-align: center;
  color: white;
  width:70px;
  height:22px;
  vertical-align: middle;
  padding-top:8px;
  font-weight: bold;


}
